*{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
}

body{
    background-color: rgb(92, 192, 162);
    font: normal 13pt Arial;
    margin-top: 10%;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 273px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}

input{
    width: 60px;
    height: 60px;
    margin: 1px;
    margin-left: 3px; margin-bottom: 3px;
    border: 1px solid rgba(92, 192, 162, 0.24);
    box-shadow: 1px 1px 4px rgba(92, 192, 162, 0.24);
    transition: .5s;
    cursor: pointer;
}

input:hover{
    background-color: rgb(219, 217, 217);
}

input.caixaTxt{
    width: 195px;
    margin-bottom: 1px;
    background-color: rgb(219, 217, 217);
    text-decoration: none;
    border: none;
}

input.botao2{
    position: fixed;
    margin-left: 8px;
    height: 124px;
}

input.botao3{
    width: 129px;
}

.visor{
    width: 270px;
    height: 60px;
    margin-bottom: 1px;
    margin-left: 3px; margin-bottom: 3px;
    background-color: rgb(219, 217, 217);
    border: 1px solid rgba(92, 192, 162, 0.24);
    box-shadow: 1px 1px 4px rgba(92, 192, 162, 0.24);
    text-align: right;
    font-size: 20pt;
}

.conteudoVisor{
    display: flex;
}

.botaoDiv{
    float: left;
    padding-left: 7px;
}

.igual{
    background-color: rgb(92, 192, 162);
}

footer{
    font-style: italic;
    text-align: center;
}